.card {
    display: flex;
    flex-direction: column;
    max-width: 915px;
    background: #0A383F;
    border-radius: 30px;
    padding: 16px;
    color: white;
    width: 915px;
    height: 385px
}

.card_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 100%;
}

.card_left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.card_title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 40px;
    /* Adjusted line-height for better vertical alignment */
}

.card_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.image {
    width: 320px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    /*Added margin to align with title */
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    height: 48px;
    object-fit: contain;
}

.description {
    flex: 1;
    overflow: hidden;
}

.description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 9;
    -webkit-line-clamp: 9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
    margin-top: auto;
}

.actions button {
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    color: #FFFFFF;
}

.git {
    background: #0A383F;
}

.git:hover {
    background: #91c9f35f;
}

.doc {
    background: #266AD9;
}

.doc:hover {
    background: #91c4f3da;
}